<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RemoteHosts</string>
	<key>CFBundleIdentifier</key>
	<string>com.skurfer.Quicksilver.RemoteHosts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Remote Hosts Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>E6</string>
	<key>NSPrincipalClass</key>
	<string>RemoteHosts</string>
	<key>QSActions</key>
	<dict>
		<key>CIFSBrowse</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>browseWithCIFS:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>GenericFileServerIcon</string>
			<key>name</key>
			<string>Browse host with CIFS</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>CIFSMount</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>mountWithCIFS:withShareName:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>GenericFileServerIcon</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSString</string>
			</array>
			<key>name</key>
			<string>Mount share with CIFS…</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ConnectUsingSSH</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectAsDefault:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>SSH to host</string>
			<key>precedence</key>
			<string>2</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ConnectUsingSSHroot</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectAsRoot:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>SSH to host as root</string>
			<key>precedence</key>
			<string>1</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ConnectUsingSSHuser</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectAsUser:withUserName:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSString</string>
			</array>
			<key>name</key>
			<string>SSH to host as…</string>
			<key>precedence</key>
			<string>1</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ConnectUsingTelnet</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithTelnet:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>Telnet to host</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ConnectUsingTelnetPort</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectToPortWithTelnet:withPortNumber:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSString</string>
			</array>
			<key>name</key>
			<string>Telnet to host on port…</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>ConnectUsingVNC</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithVNC:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>InternetLocationVNC</string>
			<key>name</key>
			<string>Screen Sharing (VNC)</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>GetIPAddress</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>getIPForHost:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>ToolbarInfo</string>
			<key>name</key>
			<string>Get IP Address</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Development</string>
			<string>Miscellaneous</string>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Provides actions that can be taken on computers</string>
		<key>extendedDescription</key>
		<string>&lt;h3&gt;A Quicksilver plug-in for dealing with a large number of computers&lt;/h3&gt;

&lt;p&gt;Given a text file with a list of machine names in it (either hostname or Fully Qualified Domain Name), this plug-in indexes them as "remote host" objects and provides the following actions:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;SSH to host&lt;/li&gt;
&lt;li&gt;SSH to host as root&lt;/li&gt;
&lt;li&gt;SSH to host as… [username in 3rd pane]&lt;/li&gt;
&lt;li&gt;Telnet to host&lt;/li&gt;
&lt;li&gt;Telnet to host on port… [port number in 3rd pane]&lt;/li&gt;
&lt;li&gt;Screen Sharing (VNC)&lt;/li&gt;
&lt;li&gt;Browse host with CIFS&lt;/li&gt;
&lt;li&gt;Mount share with CIFS… [share name in 3rd pane]&lt;/li&gt;
&lt;li&gt;Get IP Address&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;The plug-in will scan &lt;code&gt;~/.hosts&lt;/code&gt; for a list of machines by default. The file is treated as UTF-8. I'm not sure what will happen if it's encoded otherwise. The file should contain one host per line. The hostname or FQDN should be the first thing on each line, but other metadata is allowed (separated by whitespace). Additional metadata is currently ignored by the plug-in. An example might look like this:&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;server1.example.com linux
server2 solaris
windows.example.com skip
ahostiuse
&lt;/code&gt;&lt;/pre&gt;

&lt;h4&gt;Tips&lt;/h4&gt;

&lt;p&gt;After installation, you may want to check the precedence of the actions and make sure they're to your liking. The actions only apply to "remote hosts" in the catalog, so moving them up rather high on the list shouldn't interfere with other tasks. You may also want to disable some of the ones you never think you'll use.&lt;/p&gt;

&lt;p&gt;If you find yourself using "SSH to host as…" frequently, you may want to add something like this to your &lt;code&gt;~/.ssh/config&lt;/code&gt;:&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;Host server.domain
  User someuser
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;See the &lt;code&gt;ssh_config(5)&lt;/code&gt; man page for details.&lt;/p&gt;

&lt;p&gt;Finally, don't forget the "comma trick". You can select multiple hosts using the comma or ⌘A, then connect to them all at once.&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.apple.xserve</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetHostList</string>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>com.apple.xserve</string>
			<key>name</key>
			<string>Remote Hosts</string>
			<key>settings</key>
			<dict>
				<key>path</key>
				<string>~/.hosts</string>
				<key>skipItem</key>
				<true/>
			</dict>
			<key>source</key>
			<string>QSRemoteHostsSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSRemoteHostsAction</key>
			<string>QSRemoteHostsAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.Terminal</key>
			<string>QSRemoteHostsSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSRemoteHostsType</key>
			<string>QSRemoteHostsSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSRemoteHostsSource</key>
			<string>QSRemoteHostsSource</string>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
