<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RemoteHosts</string>
	<key>CFBundleIdentifier</key>
	<string>com.skurfer.Quicksilver.RemoteHosts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Remote Hosts Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>123</string>
	<key>NSPrincipalClass</key>
	<string>RemoteHosts</string>
	<key>QSActions</key>
	<dict>
		<key>AFPBrowse</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>browseWithAFP:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>GenericFileServerIcon</string>
			<key>name</key>
			<string>Browse with AFP</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>AFPMount</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>mountWithAFP:withShareName:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>GenericFileServerIcon</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSString</string>
			</array>
			<key>name</key>
			<string>Mount share with AFP…</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>CIFSBrowse</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>browseWithCIFS:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>GenericFileServerIcon</string>
			<key>name</key>
			<string>Browse with CIFS</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>CIFSMount</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>mountWithCIFS:withShareName:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>GenericFileServerIcon</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSString</string>
			</array>
			<key>name</key>
			<string>Mount share with CIFS…</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingFTP</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithFTP:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>InternetLocationFTP</string>
			<key>name</key>
			<string>FTP</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingHTTP</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithHTTP:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>BookmarkIcon</string>
			<key>name</key>
			<string>HTTP</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingHTTPS</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithHTTPS:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>BookmarkIcon</string>
			<key>name</key>
			<string>HTTPS</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingSSH</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectAsDefault:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>SSH</string>
			<key>precedence</key>
			<string>2</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingSSHroot</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectAsRoot:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>SSH as root</string>
			<key>precedence</key>
			<string>1</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingSSHuser</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectAsUser:withUserName:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSString</string>
			</array>
			<key>name</key>
			<string>SSH as…</string>
			<key>precedence</key>
			<string>1</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingTelnet</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithTelnet:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>Telnet</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingTelnetPort</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectToPortWithTelnet:withPortNumber:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSString</string>
			</array>
			<key>name</key>
			<string>Telnet to port…</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingVNC</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithVNC:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>InternetLocationVNC</string>
			<key>name</key>
			<string>Screen Sharing (VNC)</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>GetIPAddress</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>getIPForHost:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>ToolbarInfo</string>
			<key>name</key>
			<string>Get IP Address</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>LightsOutManagement</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>getLOMForHost:</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>ToolbarUtilitiesFolderIcon</string>
			<key>name</key>
			<string>Lights-Out Management</string>
			<key>precedence</key>
			<string>0</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Development</string>
			<string>Miscellaneous</string>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Provides actions that can be taken on computers</string>
		<key>extendedDescription</key>
		<string>&lt;h3&gt;A Quicksilver plug-in for dealing with a large number of computers&lt;/h3&gt;

&lt;p&gt;Given a text file with a list of machines in it (either hostname, Fully Qualified Domain Name, or IP address), this plug-in indexes them as "remote host" objects and provides the following actions:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;SSH&lt;/li&gt;
&lt;li&gt;SSH as root&lt;/li&gt;
&lt;li&gt;SSH as… [username in 3rd pane]&lt;/li&gt;
&lt;li&gt;Telnet&lt;/li&gt;
&lt;li&gt;Telnet to port… [port number in 3rd pane]&lt;/li&gt;
&lt;li&gt;FTP&lt;/li&gt;
&lt;li&gt;HTTP&lt;/li&gt;
&lt;li&gt;HTTPS&lt;/li&gt;
&lt;li&gt;Screen Sharing (VNC)&lt;/li&gt;
&lt;li&gt;Browse with CIFS&lt;/li&gt;
&lt;li&gt;Mount share with CIFS… [share name in 3rd pane]&lt;/li&gt;
&lt;li&gt;Browse with AFP&lt;/li&gt;
&lt;li&gt;Mount share with AFP… [share name in 3rd pane]&lt;/li&gt;
&lt;li&gt;Get IP Address - Returns the IP address to Quicksilver.&lt;/li&gt;
&lt;li&gt;Lights-Out Management - Returns the LOM address to Quicksilver as a "remote host". From there, you can use one of the above actions to connect to it.&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;The plug-in will scan &lt;code&gt;~/.hosts&lt;/code&gt; for a list of machines by default. The file is treated as UTF-8. It should contain one host per line. The hostname or FQDN should be the first thing on each line, but other metadata is allowed (separated by a single space). An example might look like this:&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;server1.example.com
server2
server3.example.com ostype:linux
server4.example.com ostype:linux lom:10.1.2.3
appleserver.example.com icon:com.apple.xserve ostype:macosx
windows.example.com ostype:windows
ahostiuse ostype:solaris
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;You may already have a file like this for completion in your shell. If you have existing metadata in this file, it shouldn't break anything, but it won't necessarily be useful in Quicksilver.&lt;/p&gt;

&lt;p&gt;The plug-in scans for items on each host's line that look like this: &lt;code&gt;key:value&lt;/code&gt;. All such data will be stored along with the host in Quicksilver's catalog, but there are currently only three that will affect its behavior.&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;&lt;code&gt;ostype&lt;/code&gt;: OS type should be a short, generic word, like "solaris", "linux", "windows", etc. Currently, the only real distinction is between "windows" and everything else. Windows hosts get a different default icon and certain actions don't appear. Default icons for additional OS types may be added in the future.&lt;/li&gt;
&lt;li&gt;&lt;code&gt;icon&lt;/code&gt;: You can specify an icon to use for a host if you don't like its default.&lt;/li&gt;
&lt;li&gt;&lt;code&gt;lom&lt;/code&gt;: The Lights-Out Management address will only apply to fancy, rack-mounted servers that provide some sort of network-based LOM. If you don't know what this means, you probably don't need to worry about it. The information itself should be an IP address, hostname, or FQDN for the system's LOM interface.&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;You can optionally pull hosts from &lt;code&gt;~/.ssh/known_hosts&lt;/code&gt;. There is a preset (disabled by default) under "Remote Hosts" in the Modules section of the Catalog.&lt;/p&gt;

&lt;h4&gt;Tips&lt;/h4&gt;

&lt;p&gt;After installation, you may want to check the precedence of the actions and make sure they're to your liking. The actions only apply to "remote hosts" in the catalog, so moving them up rather high on the list shouldn't interfere with other tasks. You may also want to disable some of the ones you never think you'll use.&lt;/p&gt;

&lt;p&gt;For more than a few machines, you should use a script to generate a &lt;code&gt;.hosts&lt;/code&gt; file from DNS, LDAP, a database, or some other authoritative source if possible, rather than managing it by hand. You might also schedule a job to update the file on a regular basis.&lt;/p&gt;

&lt;p&gt;If you find yourself using "SSH to host as…" frequently, you may want to add something like this to your &lt;code&gt;~/.ssh/config&lt;/code&gt;:&lt;/p&gt;

&lt;pre&gt;&lt;code&gt;Host server.domain
  User someuser
&lt;/code&gt;&lt;/pre&gt;

&lt;p&gt;See the &lt;code&gt;ssh_config(5)&lt;/code&gt; man page for details.&lt;/p&gt;

&lt;p&gt;Finally, don't forget the "comma trick". You can select multiple hosts using the comma or ⌘A, then connect to them all at once.&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.apple.xserve</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSRemoteHostsGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetHostList</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>com.apple.xserve</string>
					<key>name</key>
					<string>~/.hosts</string>
					<key>settings</key>
					<dict>
						<key>path</key>
						<string>~/.hosts</string>
						<key>skipItem</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSRemoteHostsSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetKnownHosts</string>
					<key>enabled</key>
					<false/>
					<key>icon</key>
					<string>com.apple.xserve</string>
					<key>name</key>
					<string>~/.ssh/known_hosts</string>
					<key>settings</key>
					<dict>
						<key>path</key>
						<string>~/.ssh/known_hosts</string>
						<key>skipItem</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSRemoteHostsSource</string>
				</dict>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>com.apple.xserve</string>
			<key>name</key>
			<string>Remote Hosts</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSRemoteHostsAction</key>
			<string>QSRemoteHostsAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.Terminal</key>
			<string>QSRemoteHostsSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSRemoteHostsType</key>
			<string>QSRemoteHostsSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSRemoteHostsSource</key>
			<string>QSRemoteHostsSource</string>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
